{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">

        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="{% static 'subscriptions/assets/css/styles.css' %}">

        <title>Responsive Card Pricing</title>
    </head>
    <body>
        <section class="card container grid">
            <div class="card__container grid">

    
                <!--==================== CARD 2 ====================-->
                <article class="card__content grid">
                    <div class="card__pricing">
                        <div class="card__pricing-number">
                            <span class="card__pricing-symbol">$</span>6
                        </div>
                        <span class="card__pricing-month">/month</span>
                    </div>
    
                    <header class="card__header">
                        <div class="card__header-circle grid">
                            <img src="{% static 'subscriptions/assets/img/pro-coin.png' %}" alt="" class="card__header-img">
                        </div>
    
                        <span class="card__header-subtitle"></span>
                        <h1 class="card__header-title">Premium</h1>
                    </header>
                    
                    <ul class="card__list grid">
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Custom Links</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">See Refferal Channels</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">See Visitors Location & Device Info</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Easily visualize Data through charts</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Facebook Pixel</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Google Analytics</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Export Data</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Advanced Settings</p>
                        </li>
                    </ul>
    
                    <button class="card__button">Upgrade Now</button>
                </article>
    

            </div>
        </section>
    </body>
</html>
