{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Subscribe</title>
    <link rel="stylesheet" type="text/css" href="{% static 'subscriptions/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/fontawesome-free-5.15.2-web/css/all.css' %}">
</head>
<body>
    <script src="https://www.paypal.com/sdk/js?client-id=AfOSCHffwel5_IJUTZyAYV4fv4suQ6JT7g-4MJihCCNtY6ssO90uytF7PIwgO8zSW25HV_Y8-5oR7-do&vault=true&intent=subscription"></script>

    <div class="container">
        <div class="pricing-table">
            <div><h2>TRY PREMIUM</h2></div>
            <div class="price-container">
                <div class="price-value">6 USD</div>
                <div class="price-periodicy">/month</div>
            </div>
            <p>Improve your marketing strategy with the help of insightful statistics.</p>
            <div class="feature"><i class="fas fa-check"></i>Create custom URLs For Your Links</div>
            <div class="feature"><i class="fas fa-check"></i>Individual Clicks</div>
            <div class="feature"><i class="fas fa-check"></i>Clicks Refferal Channels</div>
            <div class="feature"><i class="fas fa-check"></i>Clicks Locations</div>
            <div class="feature"><i class="fas fa-check"></i>Visitors Device Info</div>
            <div class="feature"><i class="fas fa-check"></i>Facebook Pixel Integration</div>
            <div class="feature"><i class="fas fa-check"></i>Export Statistics</div>
            <div class="feature"><i class="fas fa-check"></i>Charts to Visualize Data</div>
            <div class="feature"><i class="fas fa-check"></i>Social Media Links</div>
            <div id="paypal-button-container"></div>
            <!-- \ -->
        </div>
    </div>
    <script>
        paypal.Buttons(
            {
                createSubscription: function (data, actions) {
                    return actions.subscription.create({
                        'plan_id': '{{ plan_id }}'
                    });
                },

                onApprove: function(data, actions) {
                    window.open('/premium/activate/' + data.subscriptionID, '_self')
                    alert('You have successfully created subscription ' + data.subscriptionID);
                },

                style: {color: 'silver'}

            }).render('#paypal-button-container');
    </script>
    <!-- Nav -->
    <div class="footer flex">
        <div class="sidebar-link footer-active">
            <a href="{% url 'landing_as_author_pv' user.username %}"><img src="{% static 'leadfy/img/blackhome.png' %}"></a>
        </div>
        <div class="sidebar-link footer-active">
            <a href="{% url 'dashboard' 0 %}"><img src="{% static 'leadfy/img/blackchart.png' %}"></a>
        </div>
        <div class="sidebar-link">
            <a href="{% url 'preferences' %}"><img src="{% static 'leadfy/img/brush.png' %}"></a>
        </div>
        <div class="sidebar-link">
            <a href="{% url 'settings' %}"><img src="{% static 'leadfy/img/bluegear.png' %}"></a>
        </div>
    </div>
</body>
</html>
