@font-face {
    font-family: 'CeraProBold';
    src:  url('../fonts/CeraProBold.woff2')
}

@font-face {
    font-family: 'CeraProMedium';
    src:  url('../fonts/CeraProMedium.woff2')
}

body {
    background: rgb(251, 249, 251);
    font-family: 'CeraProBold', sans-serif;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgba(213, 221, 236, 0.4) 0px 20px 20px 0px;
    border: none;
}

a:hover {
    background-image: linear-gradient(90deg, #F9FACB, #E6ECF6);
    color: white;
    cursor: pointer;
}

.small {
    width: 47%;
}


.content {
    width: 65%;
    margin-left: auto;
    margin-right: 20px;
}

.card-title {
    color: black;
    font-size: 1.3rem;
}

.card-days {
    display: flex;
    justify-content: space-between;
}

.card-day {
    width: 31%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(48, 112, 212);
    border-radius: 30px;
}

.active {
    background-image: linear-gradient(90deg, rgb(48, 112, 212), #E6ECF6)/*#E6ECF6*/;
    color: white;
}


.card-stats {
    width: 41%;
}

.card-stat {
    color: black;
}

.section2 {
    margin-top: 10px;
    display: flex;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.icon {
    margin-left: auto;
    background: rgba(255, 0, 222, 0.2);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: purple;
}


.mostclickedlinks {
    color: black;
}

.mostclickedlinks i {
    color:rgb(48, 112, 212);
}

.mostclickedlinks-link {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 95%;
    margin: 0 auto;
  }
