@font-face {
    font-family: 'CeraProBold';
    src:  url('../fonts/CeraProBold.woff2')
}

@font-face {
    font-family: 'CeraProMedium';
    src:  url('../fonts/CeraProMedium.woff2')
}

body {
    background: rgb(251, 249, 251);
    font-family: 'CeraProBold', sans-serif;
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    padding: 10px;
    box-shadow: rgba(213, 221, 236, 0.4) 0px 20px 20px 0px;
    border: none;
}

a:hover {
    background-image: linear-gradient(90deg, #F9FACB, #E6ECF6);
    color: white;
    cursor: pointer;
}

.small {
    width: 47%;
}


.maincontent {
    width: 90%;
    margin: 0 auto;
}

.sidebar {
    min-width: 10%;
    height: 100vh;
    text-align: center;
}

.card-title {
    color: black;
    font-size: 1.3rem;
}

.card-days {
    display: flex;
    justify-content: space-between;
}

.card-day {
    width: 31%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(48, 112, 212);
    border-radius: 30px;
}

.active {
    background-image: linear-gradient(90deg, rgb(48, 112, 212, 0.4), #E6ECF6)/*#E6ECF6*/;
    color: white;
}

.card-stat {
    color: black;
}

.section2 {
    margin-top: 10px;
    display: flex;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.other-stats-stats {
    font-family: 'CeraProMedium';
    color: black;
}

.nonbold {
    font-family: 'CeraProMedium';
}

.icon {
    margin-left: auto;
    background:  #E6ECF6;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: rgb(48, 112, 212);
}


.mostclickedlinks {
    color: black;
}

.mostclickedlinks i {
    color:rgb(48, 112, 212);
}

.mostclickedlinks-link {
    margin-left: 10px;
}


.footer {
    width: 100vw;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: space-around;
    height: 65px;
    padding: 10px;
    display: flex;
    z-index: 1000;
}

.footer img {
    height: 48px;
    width: 48px;
    margin: 0;
    transition: all 0.4s;
}

.footer img:hover {
    height: 60px;
    width: 60px;
}

.footer-active {
}

@media only screen and (min-width: 600px) {
  .footer {
    top: 0;
    height: 100vh;
    width: 65px;
    flex-direction: column;
  }
}


/*LEADS PAGE*/

.leads {
    font-family: sans-serif;
    color: black;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 0.1px solid lightgrey;
    justify-content: space-between;
    font-family: 'CeraProMedium';
}

.mr {
    margin-right: 100px;
    width: 200px;
}
