.pro {
  background: linear-gradient(45deg, orange, yellow);
  border-radius: 5px;
  padding: 1px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

@font-face {
    font-family: 'CeraProMedium';
    src:  url('../fonts/CeraProMedium.woff2')
}

:root {
  --color1: white;
  --color2: white;
  --color3: grey;
  --color4: rgba(255, 255, 255, 0.7);
}

body {
  background-image: linear-gradient(0deg, var(--color1), var(--color2));
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color3);
  min-height: 100vh;
  font-family: 'CeraProMedium', sans-serif;
}

#userpage {
  overflow-wrap: break-word;
  margin: 20px;
  padding: 20px;
  color: white;
  background: rgb(48, 112, 212);
  border-radius: 10px;
}

#userpage a {
  color: #fff;
  text-decoration: underline;
}

#userpage:hover {
  background: transparent;
  color: rgb(48, 112, 212);
  border: 3px solid rgb(48, 112, 212);
}

#userpage:hover a {
  color: rgb(48, 112, 212);
}

.overflow {
  padding: 10px;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 100px;
}

/*.bio {
  text-align: center;
  margin-bottom: 20px;
}*/

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: #eecda3;
}

.content {
  overflow-y: auto;
  max-height: 100vh;
}

.formcontainer {
  max-width: 760px;
  margin: 0 auto;
}

.subcontent {
  max-width: 75%;
  margin: 0 auto;
}

.image-border {
  padding: 0;
  background-image: transparent;
  height: 105px;
  width: 105px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /*border: 1px solid white;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .content, .formcontainer {
    max-width: 98%;
  }
}

.page-link {
  word-wrap: break-word;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  background-color: #fff;
  border: 3px solid rgba(213, 221, 236, 0.4);
  box-shadow: rgba(213, 221, 236, 0.4) 20px 20px 20px 20px;

}

.link-title {
  max-width: 80%;
}

.page-link:hover {
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  color: #eecda3;
}

.page-link:hover .fa-pencil-alt {
  transition: 0.5s;
  transform: rotate(45deg);
}

.page-link .fa-pencil-alt, .page-link .linkviews {
  position: absolute;
  right: 30px;
}

.exportlink {
  display: flex;
  align-items: center;
}

.page-link .exportlink {
  position: absolute;
  left: 30px;
}

.page-link .fa-grip-lines {
  position: absolute;
  left: 30px;
  font-size: 0.75rem;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
}

#linkicon {
  position: absolute;
  right: 10%;
}

.socials {
  width: 50%;
  margin: 25px auto;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}

.edit {
  display: block;
}

.space-between {
  display: flex;
  justify-content: space-between;
}






.footer {
    width: 100vw;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    padding: 10px;
    display: flex;
    z-index: 1000;
    /*border: 3px solid rgba(213, 221, 236, 0.4);*/
    box-shadow: rgba(213, 221, 236, 0.4) 20px 20px 20px 20px
}

.footer img {
    height: 24px;
    width: 24px;
    margin: 0;
    transition: all 0.4s;
}

.footer img:hover {
    height: 48px;
    width: 48px;
}

.footer-active {
}

@media only screen and (min-width: 800px) {
  .footer {
    top: 0;
    height: 100vh;
    width: 65px;
    flex-direction: column;
  }
}


.previewlinkedit {
  overflow-y: auto;
}

.previewlinkedit a {
  color: {body_font_color};
  text-decoration: underline;
}
