body {
  background-image: linear-gradient(0deg, #E8CBC0, #636FA4);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
}

.content {
  max-width: 640px;
  margin: 0 auto;
}

.subcontent {
  max-width: 75%;
  margin: 0 auto;
}

.image-border {
  padding: 0;
  background-image: transparent;
  height: 105px;
  width: 105px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid white;
}

.center {
  text-align: center;
}

.name {
  font-size: 4rem;
}


.cta {
  border-radius: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.cta1 {
  border: solid 2px white;
  color: black;
  background: white;
}

.cta1:hover {
  background:  transparent;
  transition: 0.3s;
}

.form-group input {
  border: 1px solid rgba(255, 255, 255, 0.85);
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50px;
  padding: 25px;
}

#div_id_image input {
  background: transparent;
  border-color: transparent;
  border-radius: 0px;
  padding: 0;
}

#div_id_username .text-muted {
  display: none;
}

.skip {
  font-size: 30px;
  padding: 20px;
}

.skip i {
  color: white;
}

.toinvisible {
  opacity: 0;
}

.hidden {
  background: transparent;
  border: none;
}

.skip i:hover {
  color: #fff;
}

.skip-text {
  font-size: 0.8rem;
}


@media only screen and (max-width: 800px) {
  .content {
    max-width: 90%;
  }
}
