{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'leadfy/Croppie-2.6.4/croppie.css' %}" />
{% endblock %}

{% block body %}
    <div class="modal">
        <div class="democontainer">
            <div class="demo"></div>
        </div>
        <button class="cta cta1" id="cropbutton">Crop</button>
    </div>
{% endblock %}

{% block content %}
    <div class="center">
        <div class="subcontent">
            <div class="image-border">
                <div class="round" id="round" style="background-image: url({{ user.profile.image.url }});"></div>
                <button class="clearbtnstyle"><i class="fas fa-pencil-alt"></i></button>
            </div>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ i_form|crispy }}
        {{ p_form|crispy }}
        {{ u_form|crispy }}
        <button class="cta cta1" id="submitbutton" type="submit">Update</button>
        <a href="{% url 'settings' %}" class="cta cta1">Return</a>
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'leadfy/js/jquery.js' %}"></script>
    <script src="{% static 'leadfy/Croppie-2.6.4/croppie.js' %}"></script>
    <script src="{% static 'leadfy/js/cropperutils2.js' %}"></script>
    <script src="{% static 'users/js/profile.js' %}"></script>
{% endblock %}
