{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="center">
        <div class="subcontent">
            <div class="image-border">
                <img class="round" src="{{ user.profile.image.url }}">
            </div>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        <button class="cta cta1" type="submit">Update</button>
    </form>
{% endblock %}
