{% extends "leadfy/index.html" %}

    {% block meta %}
        <meta name="description" content="">
    {% endblock %}

    {% block title %}
        <title>Great Leads - Capture Leads with your links.</title>
    {% endblock %}

    {% block content %}
        <h1>DashBoard Page</h1>
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="../../static/leadfy/js/index.js"></script>
        <script type="text/javascript" src="../../static/leadfy/js/animation.js"></script>
    {% endblock %}
