{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="{% static 'leadfy/img/bg13-1.jpg' %}"/> <!-- image link, make sure it's jpg -->
    <link rel="stylesheet" href="{% static 'leadfy/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'leadfy/css/fontawesome-free-5.15.2-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'leadfy/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'leadfy/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'leadfy/css/dashboard.css' %}">
</head>
<body>
    {% csrf_token %}
    <div class="content">
        <div class="maincontent">
            <section class="card">
                <div>
                    <i class="fas fa-link"></i>
                    <span class="card-title">Analytics</span>
                </div>
                <div class="card-days">
                    <a class="card-day" href="0" id="0">
                        Today
                    </a>
                    <a class="card-day" href="7" id="7">
                        7 days
                    </a>
                    <a class="card-day" href="30" id="30">
                        30 days
                    </a>
                </div>
            </section>

            <div class="container">
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="flex">
                <a href="{% url 'stats' request.user.username %}" class="section2 card small">
                    <span class="icon"><i class="fas fa-eye"></i></span>
                    <div class="card-stats">
                        <div class="card-stat">
                            <h3 id="page_views_count"></h3>
                            <span class="nonbold">Unique Link Views</span>
                        </div>
                    </div>
                </a>

                <a href="{% url 'exportleads' %}" class="section2 card small">
                    <div class="icon"><i class="fas fa-envelope"></i></div>
                    <div class="card-stats">
                        <div class="card-stat">
                            <h3 id="number_of_leads"></h3>
                            <span class="nonbold">Subscriptions</span>
                        </div>
                    </div>
                </a>

            </div>

            <section class="section2 card">
                <div>
                    <canvas id="myChart" style="max-height: 200px;"></canvas>
                </div>
            </section>

            <section class="section2 card">
                <div>
                    <canvas id="piechart" style="max-height: 300px;"></canvas>
                </div>
            </section>

            {{ m|safe }}

            <section style="height: 100px;"></section>

        </div>
    </div>
    <!-- end of content div -->

    <!-- Nav -->
    <div class="footer flex">
        <div class="sidebar-link footer-active">
            <a href="{% url 'landing_as_author_pv' user.username %}"><img src="{% static 'leadfy/img/blackhome.png' %}"></a>
        </div>
        <div class="sidebar-link footer-active">
            <a href="{% url 'dashboard' 0 %}"><img src="{% static 'leadfy/img/bluechart.png' %}"></a>
        </div>
        <div class="sidebar-link">
            <a href="{% url 'preferences' %}"><img src="{% static 'leadfy/img/brush.png' %}"></a>
        </div>
        <div class="sidebar-link">
            <a href="{% url 'settings' %}"><img src="{% static 'leadfy/img/blackgear.png' %}"></a>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'leadfy/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'leadfy/js/chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'leadfy/js/dashboard.js' %}"></script>

</body>
</html>
