{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="{% static 'leadfy/img/bg13-1.jpg' %}"/> <!-- image link, make sure it's jpg -->
    <link rel="stylesheet" href="{% static 'leadfy/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'leadfy/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'leadfy/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'leadfy/css/dashboard.css' %}">
</head>
<body>
    {% csrf_token %}
    <div class="content">
        <section class="card">
            <div>
                <i class="fas fa-link"></i>
                <span class="card-title">Analytics</span>
            </div>
            <div class="card-days">
                <div class="card-day active">
                    Today
                </div>
                <div class="card-day">
                    7 days
                </div>
                <div class="card-day">
                    30 days
                </div>
            </div>
        </section>


        <div class="flex">
            <section class="section2 card small">
                <div class="icon"><i class="fas fa-eye"></i></div>
                <div class="card-stats">
                    <div class="card-stat">
                        <h3 id="page_views_count"></h3>
                        <span>Page views</span>
                    </div>
                </div>
            </section>

            <section class="section2 card small">
                <div class="icon"><i class="fas fa-eye"></i></div>
                <div class="card-stats">
                    <div class="card-stat">
                        <h3 id="number_of_leads"></h3>
                        <span>Leads</span>
                    </div>
                </div>
            </section>
        </div>


        <div>
            <canvas id="myChart"></canvas>
        </div>


    </div>
    <!-- end of content div -->



    <script type="text/javascript" src="{% static 'leadfy/js/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script type="text/javascript">

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
        $(document).ready(function() {
            // var csrfToken = $('input[name="csrfmiddlewaretoken"]').val()
            const csrfToken = getCookie('csrftoken');
            dict = {"request": "Hello from JS." }
            var data = JSON.stringify(dict)

            $.ajax({
                url: '',
                headers: {'X-CSRFToken': csrfToken},
                dataType: 'json',
                data: data,
                type: 'post',
                success: function(response) {
                    var p = document.getElementById('page_views_count')
                    var l = document.getElementById('number_of_leads')
                    p.innerHTML = response.page_views
                    l.innerHTML = response.number_of_leads

                    const labels = [
                      '0', '1', '2', '3', '4','5','6','7','8','9','10','11','12',
                      '13', '14','15','16','17','18','19','20','21','22','23','24',
                    ];
                    const data = {
                      labels: labels,
                      datasets: [
                      {
                        label: 'Page Views',
                        fill: true,
                        lineTension: 0.1,
                        backgroundColor: '#A6A6F0',
                        borderColor: 'rgb(48, 112, 212)',
                        // borderCapStyle: 'butt',
                        // borderDash: [],
                        // borderDashOffset: 0.0,
                        // borderJoinStyle: 'miter',
                        // pointBorderColor: '#fff',
                        // pointBorderWidth: 1,
                        // pointHoverRadius: 5,
                        // pointHoverBackgroundColor: '#fff',
                        // pointHoverBorderColor: '#fff',
                        // pointHoverBorderWidth: 2,
                        //pointRadius: 1,
                        //pointHitRadius: 10,
                        data: response.clicks_per_hours,
                      },
                      ]
                    };

                    const config = {
                      type: 'line',
                      data,
                      options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                      }
                    };

                  // === include 'setup' then 'config' above ===
                      var myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                      );




                }
                    })

            });
    </script>

</body>
</html>
