{% extends 'leadfy/landingbase.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>{{ user.username }} Subscribe</title>
{% endblock %}
{% block head %}
	<style type="text/css">
		label {
			display: none;
		}
	</style>
{% endblock %}


{% block content %}
	{% if link %}
		<div class="skip">
			<form method="POST">
	      		{% csrf_token %}
	      		<input type="hidden" name="skip">
				<button type="submit" class="hidden"><i class="fas fa-times"></i></button>
			</form>
		</div>
	{% endif %}

		<div class="overflow">
			<div class="center">
				<div class="subcontent">
					<div class="image-border">
                        <div class="round" style="background-image: url({{ user.profile.image.url }});"></div>
					</div>
					<h1 class="name" id="name">{{ user.profile.name }}</h1>
				</div>
			</div>
			<div class="bio">{{ user.subscribebutton.call_to_action }}</div>
			<form method="POST">
	      		{% csrf_token %}
				{{ form|crispy }}
				<div class="subcontent center">
					<button class="cta cta1" type="submit">{{ user.subscribebutton.call_to_action_button_text }}</button>
				</div>
			</form>
		</div>
{% endblock %}
