{% extends "leadfy/index.html" %}
{% load static %}

    {% block meta %}
        <meta name="description" content="">
    {% endblock %}

    {% block title %}
        <title>Great Leads - Capture Leads with your links.</title>
    {% endblock %}

    {% block content %}

        <!-- FIRST SECTION -->
        <section class="section first-section">


            <div class="section-content">
                <div class="title-with-paragraph">
                    <h1 class="big-title">Capture Leads with your links</h1>
                    <p class="paragraph">Easily grab visitors emails before redirecting them to your links.</p>
                    <br>
                    <br>
                    <a class="cta cta2" href="{% url 'account_signup' %}">SIGN UP IN SECONDS</a>
                    <br>
                    <br>
                    <br>
                </div>
                <img class="mockup-image" src="{% static 'leadfy/img/mockup2.png' %}">
            </div>

        </section>

        <!-- SECOND SECTION -->
        <section class="section second-section">
            <div class="section-content">
                <div class="features">
                    <div class="feature" data-anime="right">
                        <i class="fas fa-check"></i>
                        <p class="paragraph">Create a beautiful page with all your favorite links.</p>
                    </div>
                    <div class="feature" data-anime="left">
                        <i class="fas fa-check"></i>
                        <p class="paragraph">Customize your page to fit your brand.</p>
                    </div>
                    <div class="feature" data-anime="right">
                        <i class="fas fa-check"></i>
                        <p class="paragraph">You get one link you can share anywhere.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section forth-section">
            <div class="section-content">
                <div class="section-content2" data-anime="left">
                    <h4>Track your links performance</h4>
                    <p>
                        Keep track of how many times your page gets visited,
                        how many clicks your links have and from which sites and countries your visitors are mostly comming from.
                    </p>
                </div>
            </div>
        </section>

        <section class="section fifth-section">
            <div class="section-content">
                <div class="section-content2" data-anime="right">
                    <img alt="tools" src="../../static/leadfy/img/PNG/Objects/tools.png">
                    <p>
                        Give your page your own unique Style. Choose between an huge ammount of colors,
                         fonts, sizes, choose a background image or create a gradient.
                    </p>
                </div>

            </div>
        </section>

        <section class="section sixth-section">
            <div class="section-content">
                <div class="section-content2" data-anime>
                    <h2>Get started now!</h2>
                    <p>Share your loved links now with the world.</p>
                    <a class="cta cta3" href="{% url 'account_signup' %}">SIGN UP</a>
                </div>
            </div>
        </section>

    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="../../static/leadfy/js/index.js"></script>
        <script type="text/javascript" src="../../static/leadfy/js/animation.js"></script>
    {% endblock %}
