{% extends "leadfy/index.html" %}
{% load static %}

    {% block meta %}
        <meta name="description" content="">
    {% endblock %}

    {% block title %}
        <title>Selflink - Unleash the power of your everyday links</title>
    {% endblock %}

    {% block content %}

        <!-- FIRST SECTION -->
        <section class="section first-section">

            <div class="section-content">
                <div class="title-with-paragraph">
                    <h1 class="big-title">Unleash the power of your everyday links</h1>
                    <p class="paragraph">
                        Create a beautiful page with your favorite
                        links and optionally grab visitors' emails before redirecting them to the final URL.
                    </p>
                    <br>
                    <a class="cta cta2" href="{% url 'account_signup' %}">START NOW</a>
                </div>
            </div>

        </section>

        <!-- SECOND SECTION -->
        <section class="section second-section">
            <div class="section-content">
                <div class="features">
                    <div class="feature" data-anime="right">
                        <i class="fas fa-check"></i>
                        <p class="paragraph">Create a beautiful page with your favorite links.</p>
                    </div>
                    <div class="feature" data-anime="right">
                        <i class="fas fa-check"></i>
                        <p class="paragraph">Hide your shortened links from your page but still use them whatever place on the internet you wish.</p>
                    </div>
                    <div class="feature" data-anime="left">
                        <i class="fas fa-check"></i>
                        <p class="paragraph">Get some form of contact and information from your links visitors.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section forth-section">
            <div class="section-content">
                <div class="section-content2" data-anime="left">
                    <h4>Track the performance of your links</h4>
                    <p>
                        Keep track of how many unique times your page gets visited,
                        how many unique clicks your links have and from which websites and countries your visitors are mostly coming from.
                    </p>
                </div>
            </div>
        </section>

        <section class="section fifth-section">
            <div class="section-content">
                <div class="section-content2" data-anime="right">
                    <img alt="tools" src="../../static/leadfy/img/PNG/Objects/tools.png">
                    <p>
                        Give your page your unique style. Choose between an huge amount of colors,
                         fonts, sizes, choose a background image or create a background gradient.
                    </p>
                </div>

            </div>
        </section>

        <section class="section fifth-section">
            <div class="section-content">
                <a class="cta cta2" href="{% url 'account_signup' %}">START NOW</a>
            </div>
        </section>

    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="../../static/leadfy/js/index.js"></script>
        <script type="text/javascript" src="../../static/leadfy/js/animation.js"></script>
    {% endblock %}
