{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V12</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="icon" type="image/png" href="{% static 'leadfy/forms/ContactFrom_v12/images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'leadfy/forms/ContactFrom_v12/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'leadfy/forms/ContactFrom_v12/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/main.css' %}">
</head>
<body>

	<div class="content">

		<div class="center">
			<div class="subcontent">
				<img class="round" src="{{ user.profile.image.url }}">
				<h1 class="name">{{ user.username }}</h1>
			</div>
		</div>
		<p>{{ page.bio }}</p>
		{% for page in pages %}
			<a href="/{{ page.code }}" class="page-link">{{ page.title }}</a>
		{% endfor %}

	</div>

</body>
</html>
