{% extends 'leadfy/landingbase.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="overflow">
            <div class="skip toinvisible">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="skip">
                    <button type="submit" class="hidden"><i class="fas fa-times"></i></button>
                </form>
            </div>
            <div class="center">
                <div class="subcontent">
                    <div class="image-border">
                        <div class="round" style="background-image: url({{ user.profile.image.url }});"></div>
                    </div>
                    <h1 class="name" id="name">{{ user.profile.name }}</h1>
                </div>
            </div>
            <div class="bio">{{ user.profile.bio }}</div>
            {% for link in links %}
                {% if link.show_link %}
                    <a href="{% url 'lead' link.short_url %}" class="page-link link">{{ link.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
