{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V12</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/fontawesome-free-5.15.2-web/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/main.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
    <script type="text/javascript">
        let color1 = "{{ color1 }}"
        let color2 = "{{ color2 }}"
        document.body.style.backgroundImage = `linear-gradient(90deg, ${color1}, ${color2})`
        new_font = new FontFace('customfont', 'url(/media/fonts/{{ font }})')
        new_font.load().then(function(loaded_face) {
            document.fonts.add(loaded_face)
            document.body.style.fontFamily = 'customfont'
        }).catch(function(error) {

        });
    </script>

</html>
