{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    {% include 'leadfy/google_analytics.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/fontawesome-free-5.15.2-web/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/landing_as_author_pv.css' %}">
    <title>SelfLink | {{ request.user.username }} Home</title>
</head>
<body>
    <div class="content">

        <div class="overflow">

            <h3>Welcome back {{ request.user.username }}</h3>

            {% if messages %}
                {% for message in messages %}
                    <div class="container">
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

                <div class="center">
                    <div class="subcontent">
                        <!-- <div class="image-border">
                            <div class="round" style="background-image: url({{ user.profile.image.url }});"></div>
                        </div> -->
                        <div id="userpage">
                            Copy this Link:
                            <a href="http://{{ domain }}/{{ user.username }}" target="_blank" class="name" id="name">{{ domain }}/{{ user.username }}</a>
                        </div>
                    </div>
                </div>
            <!-- <div class="bio">{{ user.profile.bio }}</div> -->
            <div class="space-between">
                <a href="{% url 'stats' user.username %}"><i class="fas fa-chart-line"></i> Statistics</a>
                <a href="{% url 'link-create' %}"><i class="fas fa-plus"></i> New</a>
            </div>
            <div id="links">
                {% for link in links %}
                    <a data-id="{{ link.short_url }}" href="{% url 'link-edit' link.short_url %}" class="page-link link">
                        <div class="link-title">{{ link.title }}</div>
                        <i class="fas fa-grip-lines"></i>
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                {% endfor %}
            </div>
                <a href="{% url 'subscribebutton' %}" class="page-link link">{{ user.subscribebutton.call_to_action_button_text }}
                    <i class="fas fa-envelope"></i>
                    <i class="fas fa-pencil-alt"></i>
                </a>
            <!-- <div class="socials">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-tiktok"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-spotify"></i>
            </div> -->
        </div>
    </div>
    <!-- Nav -->
    <div class="footer flex">
        <div class="sidebar-link footer-active">
            <a href="{% url 'landing_as_author_pv' user.username %}"><img src="{% static 'leadfy/img/bluehome.png' %}"></a>
        </div>
        <div class="sidebar-link footer-active">
            <a href="{% url 'dashboard' 0 %}"><img src="{% static 'leadfy/img/blackchart.png' %}"></a>
        </div>
        <div class="sidebar-link">
            <a href="{% url 'preferences' %}"><img src="{% static 'leadfy/img/brush.png' %}"></a>
        </div>
        <div class="sidebar-link">
            <a href="{% url 'settings' %}"><img src="{% static 'leadfy/img/blackgear.png' %}"></a>
        </div>
    </div>
    <script src="{% static 'leadfy/js/getcsrf.js' %}"></script>
    <script src="{% static 'leadfy/js/jquery.js' %}"></script>
    <script src="{% static 'leadfy/js/Sortable.js' %}"></script>
    <script src="{% static 'leadfy/js/landingasauthorpv.js' %}"></script>
</body>
</html>
