{% extends 'leadfy/landingbase.html' %}

{% block content %}
    <div class="content">
        <div class="overflow">
            <div class="skip toinvisible">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="skip">
                    <button type="submit" class="hidden"><i class="fas fa-times"></i></button>
                </form>
            </div>
            <div class="center">
                <div class="subcontent">
                    <div class="image-border">
                        <img class="round" src="{{ user.profile.image.url }}">
                    </div>
                    <h1 class="name" id="name">{{ user.profile.name }}</h1>
                </div>
            </div>
            <p>{{ user.profile.bio }}</p>
            {% for link in links %}
                <a href="/{{ link.short_url }}" class="page-link link">{{ link.title }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
