{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'leadfy/google_analytics.html' %}
        <title>SelfLink | {% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/fontawesome-free-5.15.2-web/css/all.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{{ user.customcss.css_file.url }}?{{ lastmodified }}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
