{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="{% static 'leadfy/img/bg13-1.jpg' %}"/> <!-- image link, make sure it's jpg -->
    <link rel="stylesheet" href="{% static 'leadfy/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'leadfy/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'leadfy/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'leadfy/css/dashboard.css' %}">
</head>
<body>
    {% csrf_token %}
    <div class="content">
        <div class="maincontent">
            <div style="overflow-x: auto;">
                {% for lead in leads %}
                    <div class="flex leads">
                        <div class="mr">{{ lead.name }}</div>
                        <div class="mr">{{ lead.email }}</div>
                        <div class="mr">Lisbon</div>
                        <div class="mr">Instagram</div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- end of content div -->

    <script type="text/javascript" src="{% static 'leadfy/js/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="{% static 'leadfy/js/dashboard.js' %}"></script>

</body>
</html>
