{% extends "leadfy/index.html" %}
{% load crispy_forms_tags %}

    {% block meta %}
        <meta name="description" content="">
    {% endblock %}

    {% block title %}
        <title>Great Leads - Capture Leads with your links.</title>
    {% endblock %}

    {% block content %}
        <p>{{ user.preferences.bio }}</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button class="cta cta1" type="submit">{{ user.preferences.button_text }}</button>
            </div>
        </form>
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="../../static/leadfy/js/index.js"></script>
        <script type="text/javascript" src="../../static/leadfy/js/animation.js"></script>
    {% endblock %}
