<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SelfLink | Pitch</title>
    <meta name="robots" content="noindex">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        body {
            font-family: 'Lato', sans-serif;
            color: grey;
            line-height: 2em;
        }

        p {
            margin-bottom: 2em;
        }

        .pitch {
            padding: 15%;
        }
    </style>
</head>
<body>
    <div class="pitch">
        {{ content.content|safe }}
    </div>
</body>
</html>


