{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V12</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/fontawesome-free-5.15.2-web/css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/page-create.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leadfy/css/nano.min.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>-->
</head>
<body>
    <div class="content">
        <h1>Preferences</h1>
        <form method="POST" enctype="multipart/form-data">
            <div style="display: flex;">
                <div>
                    color 1
                    <span class="color-picker"></span>
                </div>

                <div>
                    color 2
                    <span class="color-picker2"></span>
                </div>
            </div>

            {% csrf_token %}
            {{ form|crispy }}

            brightness
            <div class="range-input">
              <input name="brightness" id="brightness" type="range" min="0" max="100" value="{{ brightness }}" step="1"/>
              <div class="value">
                <div>{{ brightness }}</div>
              </div>
            </div>

            brightness
            <div class="range-input">
              <input name="" id="" type="range" min="0" max="100" value="{{ brightness }}" step="1"/>
              <div class="value">
                <div>{{ brightness }}</div>
              </div>
            </div>

            brightness
            <div class="range-input">
              <input name="" id="" type="range" min="0" max="100" value="{{ brightness }}" step="1"/>
              <div class="value">
                <div>{{ brightness }}</div>
              </div>
            </div>

            <div class="form-group">
                <button class="cta cta1" type="submit">Save</button>
            </div>
            <input type="text" name="color1" id="color1" class="invisible" value="{{ color1 }}">
            <input type="text" name="color2" id="color2" class="invisible" value="{{ color2 }}">
        </form>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script> -->
    <script src="{% static 'leadfy/js/pickr.min.js' %}"></script>
    <script src="{% static 'leadfy/js/pickr.es5.min.js' %}"></script>


    <script type="text/javascript">
        const pickr = Pickr.create({
            el: '.color-picker',
            theme: 'nano',
            default: "{{ color1 }}",

            components: {

                preview: true,
                hue: true,

                interaction: {
                    save: true
                }
            }
        });

        const pickr2 = Pickr.create({
            el: '.color-picker2',
            theme: 'nano',
            default: "{{ color2 }}",

            components: {

                preview: true,
                hue: true,

                interaction: {
                    save: true
                }
            }
        });

        pickr.on('save', (...args) => {
            let color = args[0].toHEXA().toString(3);
            let color1_input = document.getElementById('color1')
            color1_input.value = color
            console.log(color1_input.value)
        });

        pickr2.on('save', (...args) => {
            let color2 = args[0].toHEXA().toString(3);
            let color2_input = document.getElementById('color2')
            color2_input.value = color2
            console.log(color2_input.value)
        });
    </script>
    <script type="text/javascript">
        let rangeInputs = document.querySelectorAll('.range-input input')
        rangeInputs.forEach(function(rangeInput) {
            rangeInput.addEventListener("input",function(){
            rangeInput.parentElement.childNodes[3].innerHTML = '<div>' + rangeInput.value + '</div>'
            console.log(rangeInput.value)
            });
        })
    </script>
</body>
</html>
