{% extends 'leadfy/landingbase.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Social Links Edit</title>
{% endblock %}

{% block content %}
    <div class="formcontainer">
        <h1>Your Social Links</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button class="cta cta1" type="submit">Save</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var color1 = "{{ color1 }}"
        var color2 = "{{ color2 }}"
        var brightness = {{ brightness }} / 100
        var use_background_image = {{ use_background_image }}
        var mobileimage = "{{ mobileimage }}"
        var desktopimage = "{{ desktopimage }}"
        var primary_font_size = "{{ primary_font_size }}"
        var name_font_size = "{{ name_font_size }}"
        var border_radius = "{{ border_radius }}"
        var link_text_color = "{{ link_text_color }}"
        var link_background_color = "{{ link_background_color }}"
        var font = "{{ font }}"
    </script>
    <script src="{% static 'leadfy/js/landingbase.js' %}"></script>
{% endblock %}
